# Visual Studio / .NET
.vs/
*.vsidx
bin/
obj/
*.user
*.suo

# Angular
node_modules/
dist/
.angular/
coverage/

# Maven / Java
target/
*.class
*.jar
*.war
*.ear

# Eclipse
.metadata/
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
docker-data/

# Temporary files
tmp/
temp/